.Container {
    background-color: rgb(211, 211, 211);
    width: 500px;
    margin: 0 25% 0 25%;
    overflow: auto;
}

.containerImg {
    height: 500px;
}

h2 {
    color: red;
}

p {
    padding: 5px;
}