.Container {
    background-color: rgb(238, 238, 238);
    width: 500px;
    border: solid rgb(205, 205, 205) 1px;
    border-radius: 3px;
    margin: 1% 33%;
    overflow: auto;
}

.containerImg {
    width: 100%;
}

h2 {
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    color: crimson;
}

p {
    padding: 1px 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: left;
}