.headerDiv {
    background-color: white;
    border-bottom: solid lightgray 1px;
}

.headerDiv div {
    width: 500px;
    display: flex;
    justify-content:space-between;
    margin: 0% 33%;
}

h1{
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
    color: crimson;
}

.headerImg {
    height: 24px;
    padding: 5.5% 0;
}